mobile-notifications-eapp/src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  MuleSoft Training - Anypoint Platform Development: Level 2
  %%
  Copyright (C) 2019 - 2021 MuleSoft, Inc. All rights reserved. http://www.mulesoft.com
  %%
  The software in this package is published under the terms of the
  Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International Public License,
  a copy of which has been included with this distribution in the LICENSE.txt file.
  #L%
  -->
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="  http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd  http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd    http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd  http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<flow name="retrieve-cancellation-event">
	  <anypoint-mq:subscriber config-ref="amqConfig" destination="cancelled-flights-mobile-queue-dev" acknowledgementMode="MANUAL">
	    <reconnect-forever frequency="1000" />
	  </anypoint-mq:subscriber>
	  <set-variable value="#[attributes.ackToken]" doc:name="attributes.ackToken" doc:id="9f736b29-dea4-4cdd-a2e0-2cc3056975bd" variableName="ackToken"/>
		<logger level="INFO" message="Received" doc:name="Received"/>
		<ee:transform doc:name="Convert to Our Event Format" doc:id="3edbbdbf-b281-4cb9-8d0e-6d3e42fa98df" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    pnr: payload.pnr,
    lastName: payload.lastNameOfPassenger
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<vm:publish queueName="mobile-app-native-notifs-q" doc:name="mobile-app-native-notifs-q" doc:id="49b7c494-f2e6-4850-b021-78da3b21e0c5" config-ref="mobileAppNetworkVMConfig"/>
		<anypoint-mq:ack doc:name="vars.ackToken" doc:id="4f2258b9-edb4-47cd-814d-cf742e6895e5" config-ref="amqConfig" ackToken="#[vars.ackToken]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="fff28348-0f34-42d2-9874-77d9c18940a1" >
				<anypoint-mq:nack doc:name="vars.ackToken" doc:id="cd227905-838a-41f9-90c8-c9af2a826552" config-ref="amqConfig" ackToken="#[vars.ackToken]"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
